  <h3>
    About Me
  </h3>
  <div class="card">
    <div class="card-content">
      <p>
        I am a PhD student at MPI-SWS in the group for <em>Automated Verification
          and Approximation</em> lead by
        <a href="https://people.mpi-sws.org/~eva">Eva Darulova</a>.
        In general I have a strong interest in static analysis and compilers for
        finite-precision programs.
        For these tools my main focus is on establishing rigorous correctness
        proofs for their behaviours.
      </p>
      <p>
        We are currently working on verified compilation of floating-point
        programs in the presence of optimizing compilers.
        So far we have designed a new semantics called Icing that is able
        to model floating-point optimizations in a verified compiler.
      </p>
      <p>
        In a second project we worked on building a certification backend for my
        supervisors previous work in the Daisy framework. To this end we
        implement a checker for Daisy's results in both Coq and HOL4. The
        overall goal for the project is to support certification of analysis
        results computed by Daisy.
      </p>
    </div>
  </div>
