  <h3>
    About Me
  </h3>
  <div class="card">
    <div class="card-content">
      <p>
        I am a PhD student at MPI-SWS in the group for <em>Automated Verification
          and Approximation</em> lead by <a href="https://people.mpi-sws.org/~eva">Eva Darulova</a>.
        In general I have a strong interest in static analysis and compilers, with a strong focus on
        correctness guarantees and verification of both analysis and compiler.
      </p>
      <p>
        We are currently working on building a certification backend for her
        previous work in the Daisy framework. To this end we implement a checker for
        Daisy's results in both Coq and HOL4. The overall goal for our project is to
        support certification of analysis results computed by Daisy.
      </p>
    </div>
  </div>
