  <!-- <div class="row">
    {% include news.html %}
  </div> -->
  <div class="divider">
  </div>
  <div class="row">
    {% include about.html %}
  </div>
  <div class="divider">
  </div>
  <div class="row">
    {% include projects.html %}
  </div>
  <div class="divider">
  </div>
  <div class="row">
    {% include teaching.html %}
  </div>
  <div class="divider">
  </div>
  <div class="row">
    {% include education.html %}
  </div>
  <div class="divider">
  </div>
  <div class="row">
    {% include publications.html %}
  </div>
  <div class="divider">
  </div>
  <div class="row">
    {% include talks.html %}
  </div>
