<div class="card">
  <div class="card-content">
    <span class="card-title"><b>Thesis</b></span>
    <p>
      I am writing up my PhD thesis and a draft of the final submission is available
      <a href="/assets/thesis.pdf">online</a>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title"><b>Latest Tweets</b></span>
    <p>
      Here, I would have shown you my latests twitter post, but I cannot include external sources on my official website.
      You can find a copy of this site, with the tweet at <a href="https://heikobecker.github.io">heikobecker.github.io</a>
    </p>
  </div>
</div>
