  <h3>
    Publications
  </h3>
  <p>
      {% for publication in site.data.publications %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {% if publication.link %}
          <a href="{{ publication.link }}">
            {{ publication.title }}
          </a>
          {% else %}
          <b> {{ publication.title }} </b>
          {% endif %}
        </span>
          {{publication.authors}};
          <br>
          <i>{{publication.conference}}</i>; {{publication.year}}
          {% if publication.abstract %}
          <span class="activator right"> Show abstract </span>
          {% endif %}
      </div>
      {% if publication.abstract %}
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Abstract<i class="material-icons right">close</i></span>
        <p>
          {{publication.abstract}}
        </p>
      </div>
      {% endif %}
    </div>
      {% endfor %}
  </p>
