  <h3 id="teaching">
   Teaching
  </h3>
  <p>
      {% for teach in site.data.teaching %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {% if teach.when %}
            {{ teach.when }}
          {% else %}
            {% unless teach.end %}
            Since
            {% endunless %}
            {{teach.start}}
            {% if teach.end %}
            - {{teach.end}}
            {% endif %}
          {% endif %}
        </span>
        <p>
          {{teach.what}}
        </p>
      </div>
    </div>
    {% endfor %}
  </p>
