---
reachable:
- url: ""
name: <i class="fas fa-home fa-2x"></i>
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

  {% include head.html %}

  <body class="grey lighten-3">
    <div class="row">
      <div class="col l3 m12 s12">
        {% include sidebar.html %}
      </div>
      <div class="col l8 s12">
        <div class="row">
          <div class="col offset-s1 s2">
            <h4>
              <a href="{{site.baseurl}}/" class="blue-text text-darken-2">Home</a>
            </h4>
          </div>
          <div class="col s2">
            <h4>
              <a href="{{site.baseurl}}/blog" class="blue-text text-darken-2">Blog</a>
            </h4>
          </div>
        </div>
        <div class="divider">
        </div>
        <div>
          {% for post in site.posts %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                <a href="{{site.baseurl}}{{ post.url }}"><h4>{{ post.title }}</h4></a>
                {{ post.date | date: "%d. %B %Y"}}
              </span>
              <div class="text">
                {{ post.excerpt }}
              </div>
            </div>
          </div>
          {% endfor %}
          <p class="right-align">
            <a href="{{site.baseurl}}/feed.xml">
              <i class="fas fa-rss-square fa-2x"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
